<div class="mv-card-container" fxLayout="column" fxLayoutGap="50px">
    <div class="docs-card">
        <p class="mv-title-card">SOUL MV</p>
        <p class="mv-text-card">Centralizador de recursos</p>
        <p class="card-footer"><button class="mv-button-rounded">Instalar</button></p>
    </div>
</div>

<div class="mv-card-container" fxLayout="column" fxLayoutGap="50px">
    <div class="docs-card">
        <p class="mv-title-card">SOUL MV</p>
        <p class="mv-text-card">Centralizador de recursos</p>
        <p class="card-footer"><button class="mv-button-rounded">Instalar</button></p>
    </div>
</div>

<div class="mv-card-container" fxLayout="column" fxLayoutGap="50px">
    <div class="docs-card">
        <p class="mv-title-card">SOUL MV</p>
        <p class="mv-text-card">Centralizador de recursos</p>
        <p class="card-footer"><button class="mv-button-rounded">Instalar</button></p>
    </div>
</div>