<div fxLayout="column" fxFlexAlign="center" class="mv-navbar-container">

  <div fxFlex="60" class="mv-navbar">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="mv-navbar-content">
      <div class="logo">
        <p>MVinstaller</p>
      </div>

      <div class="mv-navbar-actions" fxLayout="row">
        <p>Icon</p>
        <p>Icon</p>
      </div>
    </div>
  </div>

  <div fxFlex="40" class="mv-subnavbar">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="mv-subnavbar-content">
      <div class="mv-bemvindos">
        <p>Olá, você está no ambiente - Produção</p>
      </div>

      <div class="mv-subnavbar-actions">
        <button>Setup Atual</button>
        <button>Servidores</button>
      </div>
    </div>
  </div>
</div>

<div id="content">
  <div id="select-ambiente">

  </div>

  <div id="content-aplicativos">
    <div>
      <div id="downloads">

      </div>

      <div id="instalacao">

      </div>
    </div>

    <div id="info-empresa">

    </div>
  </div>
</div>


