.mv-content {
  padding-top: 40px;
  padding-left: 25px;
  width: 100%;
}

.mv-navbar-container {
  width: 100%;
  height: 140px;
  background-color: white;
  border: 1px solid #E1E1E1;
}

.mv-navbar {
  border: 1px solid #E1E1E1;
}

.mv-subnavbar {
  align-items: baseline;
}

.mv-navbar-content {
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
}

.mv-subnavbar-content {
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
}

.mv-bemvindos>p {
  margin-top: 8px;
  font-weight: 500;
  color: #08316C;
  font-size: 16px;
}

.mv-button {
  margin-left: 10px;
  border-radius: 5px;
  padding: 6px 14px;
  font-size: 14px;
  cursor: pointer;
}

.mv-button-default {
  border: 1px solid #8C8C8C;
  background-color: white;
  color: #828282;
}

.mv-button-ambiente {
  border: 2px solid #2D4F6E;
  background-color: white;
  color: #2D4F6E;
  font-weight: 500;
  padding: 12px 28px;
}

.mv-button-ambiente-default {
  border: 2px dotted #9EA2A8;
  background-color: white;
  color: #9EA2A8;
  font-weight: 400;
  padding: 12px 28px;
}

.mv-button-rounded {
  border: 1px solid #8C8C8C;
  background-color: white;
  color: #9EA2A8;
  font-weight: 400;
  padding: 12px 28px;
  border-radius: 80px;
}

.mv-bel {
  margin-left: 15px;
  margin-right: 5px;
  color: #9EA2A8;
  font-size: 28px;
  height: 28px;
  width: 28px;
}

.select-ambiente>p {
  color: #454545;
  font-size: 16px;
  margin-left: 10px;
}

.content-aplicativos {
  margin-top: 35px;
}

.table th,
.table td {
  padding: 20px 10px 15px 58px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  background: white;
}

#info-empresa {
  margin: 20px 50px;
}

.mv-button-rounded-green {
  background: #00BC13;
  border: 1px solid #00BC13;
  box-sizing: border-box;
  color: white;
  padding: 6px 12px 12px;
  border-radius: 999px;
}

.logo2 {
  margin-bottom: 15px;
}

.mv-config {
  position: relative;
  top: 5px;
  margin-right: 10px;
}

.p-h {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  display: flex;
  align-items: center;

  color: #454545;

}
